* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

ul,
ol {
    list-style: none;
}

header,
.hero,
footer {
    background-color: #1f2937;
}

.logo,
.hero h1,
.call-to-act h3,
footer,
button {
    color: #f9faf8;
}

header ul a,
.hero .text p,
.call-to-act .text p {
    color: #e5e7eb;
    font-size: 18px;
}

button,
.cta-wrapper {
    background: #3882f6;
}

.info h2,
.quote p {
    color: #1f2937;
}


/* --------------------------------- alignment --- */
/* ----------------------------------------------- */
/* header */
header {
    padding: 24px 256px;
    display: flex;
    justify-content: space-between;
}

header span.logo {
    flex: 2;
}

header ul {
    flex: 1;
    display: flex;
    justify-content: space-between;

}

/* hero */
.hero {
    padding: 172px 256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero p {
    margin-block: 14px;
}

/* info */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}

.info ul {
    display: flex;
    gap: 80px;
}

/* quote */
.quote {
    padding: 200px 500px;
    display: flex;
    flex-direction: column;
}

/* call to action */
.call-to-act {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 250px;
}

.cta-wrapper {
    padding: 80px 180px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}


/* ----------------------------- single styles --- */
/* ----------------------------------------------- */

/* header */
.logo {
    font-size: 24px;
}

/* hero */
.hero .text h1 {
    font-size: 64px;
    font-weight: 900;
}

.hero .text {
    width: 600px;
}

.hero button {
    padding: 12px 40px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
}

.hero-img {
    background: gray;
    color: #f9faf8;
    font-size: 20px;
    width: 640px;
    height: 300px;
    text-align: center;
    align-content: center;
}

/* info */
.info h2 {
    margin: 50px;
    font-size: 36px;
}

.info ul li {
    width: 250px;
    text-align: center;
    font-size: 23px;
}

.info ul .img {
    width: 100%;
    height: 250px;
    border: 4px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* quote */
.quote {
    background-color: #e5e7eb;
}

.quote p {
    font-style: italic;
    font-weight: lighter;
    font-size: 40px;
}

.quote span {
    font-size: 28px;
    font-weight: bold;
    text-align: end;
}

/* call to action */
.cta-wrapper {
    border-radius: 10px;
}

.call-to-act .text h3 {
    font-size: 36px;
}

.call-to-act .text p {
    font-size: 24px;
}

.call-to-act button {
    border: 4px solid #f9faf8;
    border-radius: 10px;
    padding: 0 50px;
    font-size: 24px;
    font-weight: bold;
}

footer{
    font-size: 32px;
}